.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    min-height: 79.5vh;
    padding: 46px 50px;
    background: linear-gradient(90deg, #2D3C82, #01939A);
    border-radius: 15px;
    gap: 46px;
}

.sidebar-photo {
    width: 250px;
    height: 250px;
    border: 1px solid #34C6CD;
    border-radius: 130px;
}

.sidebar-photo__img {
    height: 100%;
    width: 100%;
    border-radius: 130px;
}

.sidebar-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.sidebar-title__name {
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
}

.sidebar-title__profession {
    font-size: 16px;
    font-weight: 600;
    color: #FF9840;
    text-align: center;
}

.sidebar-send-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    padding: 15px 15px;
    border-radius: 50px;
    background: #FF9840;
    margin-top: auto;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.sidebar-send-btn:hover {
    background: #FF7600;
}

.sidebar-send-btn:active {
    background: #FFB473;
}