.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    min-height: 79.5vh;
    padding: 46px 50px;
    background: linear-gradient(90deg, #2D3C82, #01939A);
    border-radius: 15px;
    gap: 46px;
}

.sidebar-photo {
    width: 250px;
    height: 250px;
    border: 1px solid #34C6CD;
    border-radius: 130px;
}

.sidebar-photo__img {
    height: 100%;
    width: 100%;
    border-radius: 130px;
}

.sidebar-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.sidebar-title__name {
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
}

.sidebar-title__profession {
    font-size: 16px;
    font-weight: 600;
    color: #FF9840;
    text-align: center;
}

.sidebar-description {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background: #FFFFFF;
    border-radius: 5px;
    color: #071A71;
}

.sidebar-links {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    width: 70%;
    border-radius: 5px;
    height: 50px;
}

.sidebar-links__icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 30px;
    background: transparent;
    cursor: pointer;
}

.sidebar-links__icon:hover {
    border: 2px solid #FF9840;
}

.sidebar-links__icon:active {
    background: #FF9840;
}

.sidebar-send-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    padding: 15px 15px;
    border-radius: 50px;
    background: #FF9840;
    margin-top: auto;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.sidebar-send-btn:hover {
    background: #FF7600;
}

.sidebar-send-btn:active {
    background: #FFB473;
}