.header {
    display: grid;
    grid-template-columns: 1fr 0.5fr 4fr;
    align-items: center;
    padding: 10px 25px;
}

.header-title {
    font-size: 36px;
    font-weight: 600;
    color: #FFFFFF;
}
