.header {
    display: grid;
    grid-template-columns: 1fr 4fr 0.5fr;
    align-items: center;
    padding: 11px 24px;
    height: 76px;
    border: 1px solid #6D8093;
}

.header-title {
    color: #5671A6;
    font-size: 36px;
    font-weight: 600;
}